<head>      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<div class="body">
  <main>
    <aside id="sidebar" class="sidebar">
      <h1 class="heeed">  <i class="fa-solid fa-user"></i> Mahmoud Ahmed  <button class="add"> add </button> <p class="num"> 20200157 </p> </h1>
      <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
          <a class="nav-link" routerLink="/">
            <i class="fa-solid fa-border-all"></i><span>Dashboard</span></a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#igrades">
            <i class="fa-solid fa-chart-simple"></i><span>Grades</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>

        </li><!-- End Components Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" routerLink="/parent/payment">
            <i class="fa-solid fa-credit-card"></i><span>Payment</span>
          </a>
        </li><!-- End Tables Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
            <i class="fa-solid fa-gear"></i><span>Settings</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>

        </li><!-- End Charts Nav -->

      </ul>
      <a href="#"> <button class="sup"> <i class="fa-solid fa-headset"></i> Support </button> </a>
    </aside>
  </main>
  <div class="main-content">
    <!-- Main content goes here -->
  <div >
    <img class="wallpaper" src="https://c4.wallpaperflare.com/wallpaper/410/867/750/vector-forest-sunset-forest-sunset-forest-wallpaper-thumb.jpg" alt="Logo">

  </div>

<div>
  <img class="dash_1" src="/assets/img/Parent-Dashboard-1.png" alt="Logo">

</div>
<div >
  <img class="profile" src="/assets/img/user-profile-icon.png" alt="Logo">

</div>
<div>
  <img class="dash_2" src="/assets/img/Parent-Dashboard-2.png" alt="Logo">

</div>
</div>


</div>
