<footer>
  <div class="footer-content">
    <h2> Get In Touch </h2>
    <ul>
    <li> <i class="fa-solid fa-location-dot"></i> <a href="#">Location description</a></li>
    <li> <i class="fa-solid fa-phone"></i> <a href="#">Phone number description</a> </li>
    <li> <i class="fa-solid fa-envelope"></i> <a href="#">School email description</a></li>
    </ul>

    <i class="fa-brands fa-facebook fa-xl"></i>
    <i class="fa-brands fa-youtube fa-xl"></i>
    <i class="fa-brands fa-linkedin fa-xl"></i>
    <i class="fa-brands fa-instagram fa-xl"></i>

  </div>

  <div class="footer-gallery">
    <h2>Photo Gallery</h2>

    <i class="fa-solid fa-image fa-3x"></i>
    <i class="fa-solid fa-image fa-3x"></i>
    <i class="fa-solid fa-image fa-3x"></i>
      <br>

    <i class="fa-solid fa-image fa-3x"></i>
    <i class="fa-solid fa-image fa-3x"></i>
    <i class="fa-solid fa-image fa-3x"></i>
    <br>

    <p class="copyright">© All Right Reserved. Designed By Our Team</p>

  </div>
  <div class="footer-newsletter">

    <h2>News Letter</h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>

    <div class="input-container">
      <input type="text" placeholder="Enter your email here" />
      <a routerLink="/register"><button class="input-button" type="button" id="button-addon2">
        <span class="button1">
        Sign Up
        </span>
      </button>
    </a>
    </div>
  </div>
</footer>
