<app-navbar/>
<head>      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<div class="body">
  <div class="row">
    <!-- start home page -->
  <div class="home-page">
    <div class="linear-gr">
    <main>
      <section id="sec1" class="sec1">
        <div class="container">
          <div class="row flex-column">
            <h1 class="home-text">Welcome to <span>SMS!</span> </h1>
            <h3 class="home-text">Your journey starts here.</h3>
            <p class="home-text">We're thrilled to have you join our community. whether you're here to explore,<br>
              learn,we'he desined <span>SMS</span> to be a place where you can learn everything.
            </p>
            <div>
              <button class="btn btn4">learn more</button>
              <button class="btn btn3">our classes</button>
            </div>
          </div>
        </div>
      </section>
    </main>
    <div class="scroll sc-1 col-md-6"><a href="#school-facilities"><button type="button" class="btn btn-dark-scroll rounded-pill">scroll</button></a></div>
    </div>
  </div>
  <!-- end home page -->
  <!-- start school facilities -->
  <div class="school-faci" id="school-facilities">
    <div class="linear-gr">
    <div class="container container-school py-5">
      <div class="text-center">
        <h1>School Facilities</h1>
        <p class="title-school">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, fugiat vel, obcaecati similique eligendi repudiandae cum a vitae distinctio incidunt, magnam dolor neque amet? Minima inventore dolorum blanditiis alias excepturi.</p>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4 ">
        <div class="col-md-3">
          <div class="facility">
          <div class="facility-card c-1">
              <div class="circle">
            <i class="i-bus fa-2x fa-solid fa-bus-simple" style="color: #e86464;"></i>
            </div>
            <div class="overlay">
            </div>
            <h3 class="t-1">Bus School</h3>
            <p class="text1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia architecto ex iusto quos enim ad tempore deserunt, quidem ipsum, possimus, impedit ducimus magni consectetur nisi cupiditate blanditiis a nam alias?</p>
            <i class="i-ex1 fa-sm fa-solid fa-exclamation"></i>
          </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="facility">
          <div class="facility-card c-2">
              <div class="circle">
            <i class="i-bus fa-2x fa-solid fa-futbol" style="color: #FFD43B;"></i>
            </div>
            <div class="overlay">
            </div>
            <h3 class="t-2">Play Ground</h3>
            <p class="text1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia architecto ex iusto quos enim ad tempore deserunt, quidem ipsum, possimus, impedit ducimus magni consectetur nisi cupiditate blanditiis a nam alias?</p>
            <i class="i-ex2 fa-sm fa-solid fa-exclamation"></i>
          </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="facility">
          <div class="facility-card c-3">
              <div class="circle">
            <i class="i-bus fa-2x fa-solid fa-house-medical-circle-check" style="color: #77a6f8;"></i>
            </div>
            <div class="overlay">
            </div>
            <h3 class="t-3">Health Care</h3>
            <p class="text1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia architecto ex iusto quos enim ad tempore deserunt, quidem ipsum, possimus, impedit ducimus magni consectetur nisi cupiditate blanditiis a nam alias?</p>
            <i class="i-ex3 fa-sm fa-solid fa-exclamation"></i>
          </div>
        </div>

        </div>
        <div class="col-md-3">
          <div class="facility">
          <div class="facility-card c-4">
              <div class="circle">
            <i class="i-bus fa-2x fa-solid fa-person-chalkboard" style="color: #49a287;"></i>
            </div>
            <div class="overlay">
            </div>
            <h3 class="t-4">Postive learning</h3>
            <p class="text1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia architecto ex iusto quos enim ad tempore deserunt, quidem ipsum, possimus, impedit ducimus magni consectetur nisi cupiditate blanditiis a nam alias?</p>
            <i class="i-ex4 fa-sm fa-solid fa-exclamation"></i>
          </div>
      </div>
      </div>
    </div>
    <div class="scroll sc-2 col-md-6"><a href="#trackyourpreformance"><button type="button" class="btn btn-dark-scroll rounded-pill">scroll</button></a></div>
  </div>
  </div>
  </div>
  <!-- end school facilities -->
  <!-- start track your preformance  -->
  <div class="track" id="trackyourpreformance">
    <div class="linear-gr">
  <header class="my-5 header-track">
    <div class="row">
      <div class="col-md-3 mx-auto">
        <h1 class="fw-light">Track Your Performance</h1>
        <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, vero deserunt excepturi inventore fugiat ea expedita, qui modi quae quis asperiores adipisci ullam possimus rem quaerat eum nesciunt consequuntur autem.</p>
        <button class="btn btn-track btn-primary" type="submit">Learn More</button>
      </div>
    </div>
  </header>
  <div style="width: 0; height:0; overflow:hidden;" >
      <svg>
        <linearGradient id="grad-red" x1="0" y1="100" x2="100%" y2="100">
          <stop offset="0%" style="stop-color:#45ed3c" />
          <stop offset="100%" style="stop-color:#39e736" />
        </linearGradient>
      </svg>
    </div>
    <div>
      <svg preserveAspectRatio="none" width="50" height="30" viewBox="0 0 500 300" version="2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path fill="url(#grad-red)" d="M0,105c166-66,333,38,500-20c0-2,0-5,0-7C333,128,166,12,0,64 C0,77,0,91,0,105z"></path>
      </svg>
    </div>
    <div class="scroll sc-3 col-md-6"><a href="#topstudent"><button type="button" class="btn btn-dark-scroll rounded-pill">scroll</button></a></div>
  </div>
  </div>
  <!-- end track your preformance  -->
  <!-- start top student -->
  <div class="top" id="topstudent">
      <div class="section">
        <h1 class="main-title h1">Top Students</h1>
        <p class="p">The top students who obtained the highest grades in previous exams</p>
        <table class="table1">
          <thead>
            <tr>
              <th class="th">Rank</th>
              <th class="th">Name</th>
              <th class="th">Level</th>
              <th class="th">GPA</th>
            </tr>
          </thead>

          <tbody>
            <tr class="second-tr">
              <td class="td"><img src="/assets/img/1st-place.png" class="img-icon" alt="*" /></td>
              <td class="td"><i class="fa-solid fa-circle-user"></i> Student Name</td>
              <td class="td">1st</td>
              <td class="td">3.9</td>
            </tr>
            <tr>
              <td class="td">2</td>
              <td class="td"><i class="fa-solid fa-circle-user"></i> Student Name</td>
              <td class="td">2nd</td>
              <td class="td">3.4</td>
            </tr>
            <tr>
              <td class="td">3</td>
              <td class="td"><i class="fa-solid fa-circle-user"></i> Student Name</td>
              <td class="td">2nd</td>
              <td class="td">3.3</td>
            </tr>
            <tr>
              <td class="td">4</td>
              <td class="td"><i class="fa-solid fa-circle-user"></i> Student Name</td>
              <td class="td">3rd</td>
              <td class="td">3.2</td>
            </tr>
            <tr>
              <td class="td">5</td>
              <td class="td"><i class="fa-solid fa-circle-user"></i> Student Name</td>
              <td class="td">3rd</td>
              <td class="td">3.1</td>
            </tr>
            <tr>
              <td class="td">6</td>
              <td class="td"><i class="fa-solid fa-circle-user"></i> Student Name</td>
              <td class="td">1st</td>
              <td class="td">3.0</td>
            </tr>
          </tbody>
        </table>
      </div>
    <div class="scroll col-md-6"><a href="#popularteacher"><button type="button" class="btn btn-dark-scroll rounded-pill">scroll</button></a></div>
  </div>
  <!-- end top student -->
  <!-- start popular teacher -->
  <div class="popular" id="popularteacher">
    <div class="linear-gr">
      <div class="section-pop">
        <h1 class="h1-pop">Popular Teachers</h1>
        <p class="main-p">The most rated teachers in our school by students</p>
        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="card-warpper">
                <div class="card text-bg-dark">
                  <img
                    src="/assets/img/teacher-1.jpg"
                    class="card-img c-i-1 rounded-5"
                    alt="..."
                  />
                  <div class="card-img-overlay detail">
                    <h5 class="card-title">Teacher Name</h5>
                    <p class="card-text">
                      This is a wider card with supporting text below as a natural
                      lead-in to additional content. This content is a little bit
                      longer.
                    </p>
                  </div>
                </div>
                <div class="card text-bg-dark">
                  <img
                    src="/assets/img/teacher-2.jpg"
                    class="card-img c-i-2 rounded-5"
                    alt="..."
                  />
                  <div class="card-img-overlay detail">
                    <h5 class="card-title">Teacher Name</h5>
                    <p class="card-text">
                      This is a wider card with supporting text below as a natural
                      lead-in to additional content. This content is a little bit
                      longer.
                    </p>
                  </div>
                </div>
                <div class="card text-bg-dark">
                  <img
                    src="/assets/img/teacher-3.jpg"
                    class="card-img c-i-3 rounded-5"
                    alt="..."
                  />
                  <div class="card-img-overlay detail">
                    <h5 class="card-title">Teacher Name</h5>
                    <p class="card-text">
                      This is a wider card with supporting text below as a natural
                      lead-in to additional content. This content is a little bit
                      longer.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card-warpper">
                <div class="card text-bg-dark">
                  <img
                    src="/assets/img/teacher-1.jpg"
                    class="card-img c-i-1 rounded-5"
                    alt="..."
                  />
                  <div class="card-img-overlay detail">
                    <h5 class="card-title">Teacher Name</h5>
                    <p class="card-text">
                      This is a wider card with supporting text below as a natural
                      lead-in to additional content. This content is a little bit
                      longer.
                    </p>
                  </div>
                </div>
                <div class="card text-bg-dark">
                  <img
                    src="/assets/img/teacher-2.jpg"
                    class="card-img c-i-2 rounded-5"
                    alt="..."
                  />
                  <div class="card-img-overlay detail">
                    <h5 class="card-title">Teacher Name</h5>
                    <p class="card-text">
                      This is a wider card with supporting text below as a natural
                      lead-in to additional content. This content is a little bit
                      longer.
                    </p>
                  </div>
                </div>
                <div class="card text-bg-dark">
                  <img
                    src="/assets/img/teacher-3.jpg"
                    class="card-img c-i-3 rounded-5"
                    alt="..."
                  />
                  <div class="card-img-overlay detail">
                    <h5 class="card-title">Teacher Name</h5>
                    <p class="card-text">
                      This is a wider card with supporting text below as a natural
                      lead-in to additional content. This content is a little bit
                      longer.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card-warpper">
                <div class="card text-bg-dark">
                  <img
                    src="/assets/img/teacher-1.jpg"
                    class="card-img c-i-1 rounded-5"
                    alt="..."
                  />
                  <div class="card-img-overlay detail">
                    <h5 class="card-title">Teacher Name</h5>
                    <p class="card-text">
                      This is a wider card with supporting text below as a natural
                      lead-in to additional content. This content is a little bit
                      longer.
                    </p>
                  </div>
                </div>
                <div class="card text-bg-dark">
                  <img
                    src="/assets/img/teacher-2.jpg"
                    class="card-img c-i-2 rounded-5"
                    alt="..."
                  />
                  <div class="card-img-overlay detail">
                    <h5 class="card-title">Teacher Name</h5>
                    <p class="card-text">
                      This is a wider card with supporting text below as a natural
                      lead-in to additional content. This content is a little bit
                      longer.
                    </p>
                  </div>
                </div>
                <div class="card text-bg-dark">
                  <img
                    src="/assets/img/teacher-3.jpg"
                    class="card-img c-i-3 rounded-5"
                    alt="..."
                  />
                  <div class="card-img-overlay detail">
                    <h5 class="card-title">Teacher Name</h5>
                    <p class="card-text">
                      This is a wider card with supporting text below as a natural
                      lead-in to additional content. This content is a little bit
                      longer.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true">
              <img
                src="/assets/img/left-arrow.png"
                class="arrow_img carousel-control-prev-icon"
                alt=""
              />
            </span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true">
              <img
                src="/assets/img/right-arrow.png"
                class="arrow_img carousel-control-next-icon"
                alt=""
              />
            </span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="teacher-list"></div>
      </div>
    <div class="scroll sc-4 col-md-6"><a href="#ournumbers"><button type="button" class="btn btn-dark-scroll rounded-pill">scroll</button></a></div>
    </div>
  </div>
  <!-- end popular teacher -->
  <!-- start our numbers -->
  <div class="our" id="ournumbers">
    <div class="linear-gr">
      <div class="container-our">
        <h1 class="h1-our">Our Numbers</h1>
        <p class="p-our">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id rem dolorem quae explicabo facilis reprehenderit eaque doloremque, officia, molestias corporis adipisci? Earum iure dolores laudantium accusantium aperiam consectetur itaque magni.</p>
    </div>
    <div class="statics">
        <div class="ourNumbers text-center">
            <div class="row">
              <div class="col">
                <i class="fa-solid i-our fa-chalkboard-user"></i>
                Teachers <br> <br>
                <h3 class="h3-our">+334</h3>
              </div>
              <div class="col">
                <i class="fa-solid i-our fa-people-line"></i>
                Current Student <br> <br>
                <h3 class="h3-our">+5343</h3>
              </div>
              <div class="col">
                <i class="fa-solid i-our fa-graduation-cap"></i>
                Graduated <br> <br>
                <h3 class="h3-our">+45633</h3>
              </div>
            </div>
          </div>
    </div>
  </div>
  <!-- end our numbers -->
   <!-- start footer -->
<footer>
  <div class="footer-content">
    <h2> Get In Touch </h2>
    <ul>
    <li> <i class="fa-solid fa-location-dot"></i> <a href="#">Location description</a></li>
    <li> <i class="fa-solid fa-phone"></i> <a href="#">Phone number description</a> </li>
    <li> <i class="fa-solid fa-envelope"></i> <a href="#">School email description</a></li>
    </ul>

    <i class="fa-brands fa-facebook fa-xl"></i>
    <i class="fa-brands fa-youtube fa-xl"></i>
    <i class="fa-brands fa-linkedin fa-xl"></i>
    <i class="fa-brands fa-instagram fa-xl"></i>

  </div>

  <div class="footer-gallery">
    <h2>Photo Gallery</h2>

    <i class="fa-solid fa-image fa-3x"></i>
    <i class="fa-solid fa-image fa-3x"></i>
    <i class="fa-solid fa-image fa-3x"></i>
      <br>

    <i class="fa-solid fa-image fa-3x"></i>
    <i class="fa-solid fa-image fa-3x"></i>
    <i class="fa-solid fa-image fa-3x"></i>
    <br>

    <p class="copyright">© All Right Reserved. Designed By Our Team</p>

  </div>
  <div class="footer-newsletter">

    <h2>News Letter</h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>

    <div class="input-container">
      <input type="text" placeholder="Enter your email here" />
      <a routerLink="/register">
        <button class="input-button" type="button" id="button-addon2">
        <span class="button1">
        Sign Up
        </span>
      </button>
    </a>
    </div>
  </div>
</footer>
<!-- end footer -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybB5IXNxFwWQfE7u8Lj+XJHAxKlXiG/8rsrtpb6PEdzD828Ii" crossorigin="anonymous"></script>
</div>
